################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MondoCore.Collections/obj
/MondoCore.Collections/bin
/MondoCore.Collections.UnitTests/bin
/MondoCore.Collections.UnitTests/obj
